@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.calendar-container {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  backdrop-filter: blur(10px);          /* Difuminado del fondo */
  -webkit-backdrop-filter: blur(10px);  /* Soporte para Safari */
  border-radius: 1rem;
  padding: 2rem;
  color: #fff;                          /* Texto blanco */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Opcional: sombra suave */
}
